<?xml version="1.2"?>
<launch>

  <!-- load robot -->
  <include file="$(find crops_wp6_arm_launch)/launch/test_joints.launch"/>

  <!-- load move_arm -->
  <include file="$(find crops_wp6_arm_navigation_actions)/launch/move_arm.launch"/>

  <!-- load planning_environment -->
   <include file="$(find planning_environment)/launch/environment_server.launch" >
      <arg name="use_monitor" value="false"/>
      <arg name="use_collision_map" value="false"/>
   </include>

  <!-- load planning -->
  <include file="$(find crops_wp6_arm_navigation_planning)/launch/ompl_planning.launch"/>

  <!-- load filters -->
  <include file="$(find crops_wp6_arm_navigation_filtering)/launch/trajectory_filter.launch"/>

  <!-- load ik -->
  <include file="$(find crops_wp6_arm_navigation_kinematics)/launch/crops_wp6_arm_collision_free_ik.launch"/>

</launch>

